*
{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(0,0,0);
    background: linear-gradient(177deg, rgba(0,0,0,1) 29%, rgba(67,127,186,1) 100%, rgba(0,157,255,1) 100%);
    font-family: sans-serif;
    color: green;


}
.heading{
  
    color: green;
    height: 10vh;
    text-align: center;
    padding-top: 10px;
    font-family: Fantasy, sans-serif;
    font: Papyrus;
    font-size: 25pt;
    font-weight: bolder;
    white-space: nowrap;
}
@media only screen and (max-width: 352px) {
    .heading { 
        font-size: 20pt;
        padding-bottom: 20px;
    }
}

.about-section-container{
    width: 90vw;
    height: 20vh;
    
    margin: 0 auto;

}
.about-section{
    text-align: center;
    padding-top: 30px;
    margin-top: 20px;
}
.game-area{
   
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    

}


.game-play-area{
  
    width: 90vw;
    height: 40vh;
    margin: 0 auto;
    margin-top: 30px;
  


}
#text-input{
    resize: none;
    margin-top: 80px;
    width: 80vw;
    color : green;
    text-align: center;
   

}
.levels{
    margin: 0 auto;
    text-align: center;
}
.incorrect-background{
    background: rgb(0,0,0);
    background: linear-gradient(177deg, rgba(0,0,0,1) 29%, rgb(185, 183, 14) 100%, rgba(0,157,255,1) 100%);
}
.correct-background{
    background: rgb(0,0,0);
    background: linear-gradient(177deg, rgba(0,0,0,1) 29%, rgb(40, 147, 45) 100%, rgba(0,157,255,1) 100%);
}
.result-area{
    text-align: center;
    
}
.correct{
    float: left;
    padding-left: 50px;

}
.incorrect{

    float: right;
    padding-right: 50px;
}
#score{
    text-align: center;
    
    font-size: 20px;
}
.linedown {
    top: 0;
    opacity: 0;
    animation: new-item-animation 20s linear forwards;
    color: green;
    background-color: rgba(138, 43, 226, 0.7);
    border-radius: 25px;
    box-shadow: 5px;
}

@keyframes new-item-animation {
    from {
        opacity: 1;
        transform: translateY(0);
}

    to {
        opacity: 1;
        transform : translateY(400px);
    }
}

.restart {
    transform: translateY(-400px);
}
  /*
#time {
    display: none;
}
*/

.modal-container{
    background-color: rgba(161, 170, 180, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    
    
    

    
}


.modal{
    background: rgb(0,0,0);
    background: linear-gradient(177deg, rgba(0,0,0,1) 29%, rgba(67,127,186,1) 100%, rgba(0,157,255,1) 100%);
    border-radius: 10px;
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}
.modal h1{
    font-family: fantasy;
}

button{
    background-color: blueviolet;
    border: 0;
    border-radius: 10px;
    color: aquamarine;
    font-size: 14px;
    padding: 10px 25px;
    pointer-events: all;
    cursor: pointer;
}
#btn{
    font-family: fantasy;
    font-weight: bold;
}
.btn-green{
    background-color: green;
    border: 0;
    border-radius: 10px;
    color: aquamarine;
    font-size: 14px;
    padding: 10px 25px;
    pointer-events: all;
    cursor: pointer;
}
.btn{
    background-color: blueviolet;
    border: 0;
    border-radius: 10px;
    color: aquamarine;
    font-size: 14px;
    padding: 10px 25px;
    pointer-events: all;
    cursor: pointer;
}
.scoreboard{
    padding-top: 30px;
}