*
{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: sans-serif;
    color: green;

}
.heading{
    background-color: black;
    color: green;
    height: 10vh;
    text-align: center;
    padding-top: 10px;
}
.about-section-container{
    width: 90vw;
    height: 20vh;
    background-color: black;
    margin: 0 auto;

}
.about-section{
    text-align: center;
    padding-top: 30px;
}
.game-area{
    background-color: black;
    width: 90vw;
    height: 50vh;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    

}
.game-play-area{
    background-color: rgba(1,19,3,1.9);
    width: 90vw;
    height: 40vh;
    margin: 0 auto;
    margin-top: 30px;
  


}
#text-input{
    background-color: rgba(1,19,3,1.9);
    resize: none;
    margin-top: 80px;
    
    color : green;
    text-align: center;
   

}
.result-area{
    text-align: center;
    
}
.correct{
    float: left;
    padding-left: 50px;

}
.incorrect{

    float: right;
    padding-right: 50px;
}
.score{
    text-align: center;
}
.linedown {
    top: 0;
    opacity: 0;
    animation: new-item-animation 20s linear forwards;
}

@keyframes new-item-animation {
    from {
        opacity: 1;
        transform: translateY(0);
}

    to {
        opacity: 1;
        transform : translateY(400px);
    }
}

.restart {
    transform: translateY(-400px);
}
  